apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ "{{" }} include "{{.ServiceName}}.fullname" . {{ "}}" }}-config
data:
  {{ "{{" }}- range $key, $val := .Values.env {{ "}}" }}
  {{ "{{" }} $key | quote {{ "}}" }}: {{ "{{" }} $val | quote {{ "}}" }}
  {{ "{{" }}- end {{ "}}" }}
